{% extends 'admin/base_site.html'%}
{% load i18n admin_static %}
{% load my_tags %}

{% block extrastyle %}
	<link rel="stylesheet" href="{% static 'chosen/chosen.css' %}">
	<link rel="stylesheet" href="{% static 'chosen/docsupport/prism.css' %}">
{% endblock %}

{% block extrajs %}	
<script src="{% static 'chosen/chosen.jquery.js' %}"></script>
<script src="{% static 'chosen/docsupport/prism.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jquery.maskedinput.min.js' %}"></script>

{% endblock %}

{% block content %}
    <div align="left">
		<h2>Total procesos ({{ total }})</h2>
    </div>

	<div align="center">
		<table id="result_list" class="table table-striped table-filter">
			<thead>
				<tr>
                    <th>Desde</th>
                    <th>Hasta</th>
                    <th>Orden de trabajo</th>
                    <th>Cliente</th>
                    <th>Hueco (días, hh:mm:ss)</th>
				</tr>
			</thead>

			<tbody>

				{% for detalle in detalles %}
                    <tr>
                        <td> {{ detalle.fecha_de_inicio }} - {{ detalle.hora_de_inicio }}</td>
                        <td> {{ detalle.fecha_de_finalizacion }} - {{ detalle.hora_de_finalizacion }}</td>
                        <td> {{ detalle.proceso.orden_de_trabajo }}</td>
                        <td> {{ detalle.proceso.orden_de_trabajo.cliente }}</td>
                        <td> {{ detalle.get_diferencia_con_anterior }}</td>
                    </tr>

				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
