{% extends 'admin/base_site.html'%}
{% load i18n admin_static %}
{% load my_tags %}

{% block extrastyle %}
	<link rel="stylesheet" href="{% static 'chosen/chosen.css' %}">
	<link rel="stylesheet" href="{% static 'chosen/docsupport/prism.css' %}">
{% endblock %}

{% block extrajs %}
<script src="{% static 'chosen/chosen.jquery.js' %}"></script>
<script src="{% static 'chosen/docsupport/prism.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jquery.maskedinput.min.js' %}"></script>


<script type="text/javascript">
	$(".chosen-select").chosen({
		disable_search_threshold: 0,
		no_results_text: "Sin resultados..",
		width: "300px",
		allow_single_deselect: true
	});
	$('.chosen-select').trigger('chosen:updated');

    jQuery(function($) {
        $(".date").mask("99/99/9999",{placeholder:"dd/mm/aaaa"});
    });


</script>
{% endblock %}

{% block content %}
	<form class="form" method="get">
		<h1>Procesos</h1>
		<center>
			<dl>
				<table class="table-filter table table-bordered table-stripped">
					<tbody>
						<tr>
							<th style="vertical-align:middle">
								<strong> Buscar:</strong>
							</th>
							<td style="vertical-align:middle">
								<input type="text" class="search-query" placeholder="Numero u OT" name="q" value="{{ q }}">
							</td>

							<th style="vertical-align:middle">
                            <strong> Estado:</strong>
                            </th>
                            <td style="vertical-align:middle">
                                <select name="estado" value="{{ estado }}" onchange="this.form.submit();">

                                    <option {% if 'TODOS' in estado %} selected {% endif %} value="TODOS">----------</option>
                                    <option {% if 'EN PROCESO' in estado %} selected {% endif %} value="en_proceso">EN PROCESO</option>
                                    <option {% if 'FINALIZADO' in estado %} selected {% endif %} value="finalizado">FINALIZADO</option>

                                </select>
                            </td>

							<th style="border-top :3px solid white; border-right :3px solid white; border-bottom :3px solid white;">
								<a class="btn btn-info" href="/admin/produccion/proceso/" title="Limpiar Filtros">
									<i class="fa fa-undo"></i>
								</a>
								<input type="submit" value="Buscar" class="btn btn-success" hidden="hidden" style="display: none">
							</th>
						</tr>
                        <tr>

                            <th style="vertical-align:middle">
                                <strong> Fecha desde:</strong>
                            </th>
                            <td style="vertical-align:middle">
                                <input type="text" class="date" placeholder="dd/mm/aaaa" name="fecha_desde" value="{{ fecha_desde }}">
                            </td>


                            <th style="vertical-align:middle">
                                <strong> Fecha hasta:</strong>
                            </th>
                            <td style="vertical-align:middle">
                                <input type="text" class="date" placeholder="dd/mm/aaaa" name="fecha_hasta" value="{{ fecha_hasta }}">
                            </td>
                        </tr>
					</tbody>
				</table>
			</dl>
		</center>

		<div id="next_button" align="right">
			<button type="button" class="btn btn-primary" onclick="location.href='/admin/produccion/proceso/add/';" title="Agregar Proceso">
				<span class="glyphicon glyphicon-plus"></span>
			</button>

		</div>
	</form>


	<br></br>

	<div align="center">
		<table id="result_list" class="table table-striped table-filter">
			<thead>
				<tr>
					<th>Numero</th>
					<th>Fecha de creación</th>
                    <th>Orden de trabajo</th>
					<th>Procesos realizados</th>
                    <th>Estado</th>
                    <th>Acciones</th>
				</tr>
			</thead>

			<tbody>
				{% for proceso in object_list %}
				<tr>
					<td>{{ proceso.id }}</td>
                    <td>{{ proceso.fecha_de_creacion }}</td>
                    <td>{{ proceso.orden_de_trabajo}}</td>
                    <td>{{ proceso.get_procesos_realizados }}</td>
                    <td>{{ proceso.estado_ot }}</td>
					<td>
                        <button type="button" class="btn btn-info btn-xs" onclick="location.href='/admin/produccion/proceso/{{ proceso.id }}';" title="Editar">
							<i class="fa fa-pencil-square-o"></i>
						</button>

					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	{% if is_paginated %}
	<table class="table">
		<td>
			<center>
				<ul class="pagination pagination-sm">
					{% if page_obj.has_previous %}
					<li class="previous">
						<a href="/admin/produccion/proceso/?page={{ page_obj.previous_page_number }}&q={{ q }}&cliente_id={{ cliente_id }}">
							<span aria-hidden="true">&larr;</span> Primera
						</a>
					</li>

					<li>
						<a href="/admin/produccion/programacion/?page={{ page_obj.previous_page_number }}&q={{ q }}&cliente_id={{ cliente_id }}">
							Anterior
						</a>
					</li>
					{% endif %}

					{% for page in page_obj.paginator.page_range|paginator_delimiter:page_obj.number %}
					<li>
						<a {% if page == page_obj.number %} class="active" style="background-color:#DD4814;color:white;" {% endif %} href="/admin/produccion/costo/?page={{ page }}&q={{ q }}&cliente_id={{ cliente_id }}">
							{{ page }}
						</a>
					</li>
					{% endfor %}

					{% if page_obj.has_next %}
					<li>
						<a href="/admin/produccion/programacion/?page={{ page_obj.next_page_number }}&q={{ q }}&cliente_id={{ cliente_id }}">
							Siguiente
						</a>
					</li>

					<li class="next">
						<a href="/admin/produccion/programacion/?page={{ page_obj.paginator.num_pages}}&q={{ q }}&cliente_id={{ cliente_id }}">
							&Uacute;ltima <span aria-hidden="true">&rarr;</span>
						</a>
					</li>
					{% endif %}

				</ul>
			</center>
		</td>
		<th>
			Pag. {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
		</th>
	</table>
	{% endif %}
{% endblock %}
