{% extends 'admin/base_site.html' %}
{% load i18n admin_static %}
{% load humanize %}
{% load my_tags %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'chosen/chosen.css' %}">
    <link rel="stylesheet" href="{% static 'chosen/docsupport/prism.css' %}">
{% endblock %}

{% block extrajs %} 
    <script src="{% static 'chosen/chosen.jquery.js' %}"></script>
    <script src="{% static 'chosen/docsupport/prism.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/jquery.maskedinput.min.js' %}"></script>

    <script type="text/javascript">
        $(".chosen-select").chosen({
            disable_search_threshold: 0,
            no_results_text: "Sin resultados..",
            width: "80%",
            allow_single_deselect: true
        });
        $('.chosen-select').trigger('chosen:updated');

        jQuery(function($) {
            $(".date").mask("99/99/9999",{placeholder:"dd/mm/aaaa"});

        });
    </script>
{% endblock %}

{% block content %}
    <form class="form" method="get">
        <h1>Lista de Bajas</h1>
        <center>
            <dl>
                <table class="table-filter table table-bordered table-stripped">
                    <tbody>
                        <tr>
                            <th style="vertical-align:middle">
                                <strong> Material:</strong>
                            </th>
                            <td style="vertical-align:middle">
                                <input type="text" class="search-query" placeholder="Descripcion o codigo.." name="q" value="{{ q }}">
                            </td>

                            <th style="vertical-align:middle">
                                <strong> Funcionario:</strong>  
                            </th>
                            <td style="vertical-align:middle">
                                <select class="chosen-select" data-placeholder="Seleccione un funcionario.." name="funcionario_id" value="{{ funcionario_id }}" onchange="this.form.submit();">
                                    <option value=""></option>
                                    {% for funcionario in funcionarios %}
                                    <option {% if funcionario.pk == funcionario_id %} selected {% endif %} value="{{ funcionario.id }}">{{ funcionario }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <th style="vertical-align:middle">
                                <strong> Deposito:</strong>  
                            </th>
                            <td style="vertical-align:middle">
                                <select class="chosen-select" data-placeholder="Seleccione un deposito.." name="deposito_id" value="{{ deposito_id }}" onchange="this.form.submit();">
                                    <option value=""></option>
                                    {% for deposito in depositos %}
                                    <option {% if deposito.pk == deposito_id %} selected {% endif %} value="{{ deposito.id }}">{{ deposito }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>


                        <tr>


                            <th style="vertical-align:middle">
                                <strong> Fecha desde:</strong>
                            </th>
                            <td style="vertical-align:middle">
                                <input type="text" class="date" placeholder="dd/mm/aaaa" name="fecha_desde" value="{{ fecha_desde }}">
                            </td>


                            <th style="vertical-align:middle">
                                <strong> Fecha hasta:</strong>
                            </th>
                            <td style="vertical-align:middle">
                                <input type="text" class="date" placeholder="dd/mm/aaaa" name="fecha_hasta" value="{{ fecha_hasta }}">
                            </td>  

                            <th style="border-top :3px solid white; border-right :3px solid white; border-bottom :3px solid white;">
                                <a class="btn btn-info" href="/admin/depositos/baja" title="Limpiar Filtros">
                                    <i class="fa fa-undo"></i>
                                </a>
                                <input type="submit" value="Buscar" class="btn btn-success" hidden="hidden" style="display: none">
                            </th>
                        </tr>
                    </tbody>
                </table>
            </dl>
        </center>

        <div id="next_button" align="right">

            <button onclick="this.form.submit();" class="btn btn-success" name="excel" value="excel" type="submit" title="Exportar a Excel">
                <i class="fa fa-file-excel-o"></i>
            </button>

            {% if perms.depositos.add_baja %}
                <button type="button" class="btn btn-primary" onclick="location.href='/admin/depositos/baja/add/';" title="Agregar Baja">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            {% endif %}

        </div>
    </form>


    <br/>

    <div align="center">
        <table id="result_list" class="table table-striped table-filter">
            <thead>
            <tr>
                <th>Fecha</th>
                <th>Deposito</th>
                <th>Material</th>
                <th>Cantidad</th>
                <th>Motivo</th>
                <th>Funcionario</th>
                <th>Acciones</th>

            </tr>
            </thead>

            <tbody>
            {% for detallebaja in object_list %}
                <tr>
                    <td>{{ detallebaja.baja.fecha}}</td>
                    <td>{{ detallebaja.baja.deposito }}</td>

                    <td>{{ detallebaja.material }}</td>
                    <td>{{ detallebaja.cantidad|floatformat:"2"|intcomma|default_if_none:"&nbsp;" }}</td>
                    <td>{{ detallebaja.motivo }}</td>


                    <td>{{ detallebaja.baja.funcionario }}</td>

                    <td>
                        {% if perms.depositos.change_baja %}
                            <button type="button" class="btn btn-warning btn-xs" onclick="location.href='/admin/depositos/baja/{{ detallebaja.baja.id }}/';" title="Editar">
                                <i class="fa fa-pencil"></i>
                            </button>
                        {% endif %}

                        {% if perms.depositos.delete_baja %}
                            <button type="button" class="btn btn-danger btn-xs" onclick="location.href='/admin/depositos/baja/{{ detallebaja.id }}/delete/';" title="Borrar">
                                <i class="fa fa-minus"></i>
                            </button>
                        {% endif %}

                        <!--
                        <button type="button" class="btn btn-info btn-xs" onclick="location.href='/admin/depositos/baja/{{ detallebaja.baja.id }}/detail/';" title="Detalle">
                            <i class="fa fa-list-ol"></i>
                        </button>


                        <button type="button" class="btn btn-danger btn-xs" onclick="location.href='/admin/depositos/baja/{{ baja.id }}/print/';" title="Imprimir">
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </button>
                        -->

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if is_paginated %}
        <table class="table">
            <td>
                <center>
                    <ul class="pagination pagination-sm">
                        {% if page_obj.has_previous %}
                            <li class="previous">
                                <a href="/admin/depositos/baja/?page={{ page_obj.previous_page_number }}&q={{ q }}&funcionario_id={{ funcionario_id }}&deposito_id={{ deposito_id }}&fecha_desde={{ fecha_desde }}&fecha_hasta={{ fecha_hasta }}">
                                    <span aria-hidden="true">&larr;</span> Primera
                                </a>
                            </li>

                            <li>
                                <a href="/admin/depositos/baja/?page={{ page_obj.previous_page_number }}&q={{ q }}&funcionario_id={{ funcionario_id }}&deposito_id={{ deposito_id }}&fecha_desde={{ fecha_desde }}&fecha_hasta={{ fecha_hasta }}">
                                    Anterior
                                </a>
                            </li>
                        {% endif %}

                        {% for page in page_obj.paginator.page_range|paginator_delimiter:page_obj.number %}
                            <li>
                                <a {% if page == page_obj.number %} class="active" style="background-color:#DD4814;color:white;" {% endif %} href="/admin/depositos/baja/?page={{ page }}&q={{ q }}&funcionario_id={{ funcionario_id }}&deposito_id={{ deposito_id }}&fecha_desde={{ fecha_desde }}&fecha_hasta={{ fecha_hasta }}">
                                    {{ page }}
                                </a>
                            </li>
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li>
                                <a href="/admin/depositos/baja/?page={{ page_obj.next_page_number }}&q={{ q }}&funcionario_id={{ funcionario_id }}&deposito_id={{ deposito_id }}&fecha_desde={{ fecha_desde }}&fecha_hasta={{ fecha_hasta }}">
                                    Siguiente
                                </a>
                            </li>

                            <li class="next">
                                <a href="/admin/depositos/baja/?page={{ page_obj.paginator.num_pages}}&q={{ q }}&funcionario_id={{ funcionario_id }}&deposito_id={{ deposito_id }}&fecha_desde={{ fecha_desde }}&fecha_hasta={{ fecha_hasta }}">
                                    &Uacute;ltima <span aria-hidden="true">&rarr;</span>
                                </a>
                            </li>
                        {% endif %}

                    </ul>
                </center>
            </td>
            <th>
                Pag. {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
            </th>
        </table>
    {% endif %}
{% endblock %}
